<main>
  <header>
    <div class="header-title">
      <h2 class="text-center">Become a pokémon trainer!</h2>
      <p class="text-center">Catch your pokémon now.</p>
    </div>
  </header>

  <ng-container *ngIf="user; then showLanding else showLoginForm"></ng-container>

  <ng-template #showLanding>
    <div class="container">
      <img src="assets/pikachu.jpeg" alt="pikachu">
      <h2>Pika pika chu!</h2>
    </div>
  </ng-template>

  <ng-template #showLoginForm>
    <app-login-form (login)="handleLogin()"></app-login-form>
  </ng-template>
</main>
