header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.container {
  width: min(60%, 600px);
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: var(--yellow);
}

.container img {
  width: 400px !important;
  height: auto;
}

.container h2 {
  animation-name: red-yellow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes red-yellow {
  0% { color: red }
  50% { color: var(--yellow) }
  100% { color: red }
}

.header-title {
  padding: 1rem;
}

.header-title h2 {
  font-size: 2rem;
  line-height: 1.4;
}
.header-title p {
  margin-top: 1em;
}

.text-center {
  text-align: center;
}
