ul {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 2em 1em;
  margin: 3rem 0;
}

.pagination-container {
  margin: 5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  flex-basis: min-content;
}

.pagination-container > * {
  padding: 1rem;
}

@media only screen and (max-width: 1200px) {
  ul {
    gap: 1rem;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  ul {
    grid-template-columns: auto auto;
  }
}
