<ul>
  <app-pokemon-list-item
    *ngFor="let pok of pokemon | paginate: { itemsPerPage: 21, currentPage: p }"
    [pokemon]="pok"
  >
  </app-pokemon-list-item>
</ul>
<div class="pagination-container">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
