.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1em;
  border: 10px groove grey;
  padding: 1em;
  background-color: #ccc;
}

.card:hover {
  background-color: var(--yellow);
}

img {
  transition: 0.2s;
  width: 128px;
  height: 128px;
}

.card:hover img {
  transform: scale(1.3);
}
