<li *ngIf="pokemon" class="card">
    <img [src]="pokemon.image" [alt]="pokemon.id">
    <span class="">{{ pokemon.name }}</span>
    <app-catch-button [pokemonId]="pokemon.id"></app-catch-button>
</li>
