/* ----- Main Footer ----- */
footer {
  color: #969696;
  text-align: center;
  font-size: 0.9rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em;
  background-color: #2a2a2a;
}
