/*.logo {*/
/*  color: red;*/
/*  text-shadow: -1px 2px 0 black;*/
/*  font-size: 2rem;*/
/*}*/

/*nav{*/
/*  display: flex;*/
/*  flex-flow: row nowrap;*/
/*  justify-content: space-around;*/
/*  align-items: center;*/
/*  background-color: #ccc;*/
/*}*/

/*nav {*/
/*  margin-bottom: 1em;*/
/*  padding: 1em;*/
/*  color: #ecf0f1;*/
/*  border-bottom: 5px solid black;*/
/*}*/

/*ul {*/
/*  display: flex;*/
/*  flex-flow: row wrap;*/
/*  justify-content: space-around;*/
/*  align-items: center;*/
/*  list-style: none;*/
/*  gap: 1em;*/
/*}*/

/*.nav-link {*/
/*  display: inline;*/
/*  text-decoration: none;*/
/*  color: black;*/
/*  border: 0;*/
/*  background-color: #ccc;*/
/*  padding: 0.5em;*/
/*  font-size: 1rem;*/
/*  transition: all 0.3s ease;*/
/*  white-space: nowrap*/
/*}*/

/*.nav-link:before {*/
/*  content: "> ";*/
/*  opacity: 0;*/
/*}*/

/*.nav-link:hover {*/
/*  background-color: black;*/
/*  color: white;*/
/*}*/

/*.nav-link:hover::before {*/
/*  opacity: 1;*/
/*}*/

.nav-header {
  text-align: center;
  background-color: #ccc;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 1rem;
  border-bottom: 3px solid black;
  top: 0;
}

.logo {
  font-size: 2rem;
}

nav {
  padding-top: 1rem;
  /*   display: none; */
  position: absolute;
  text-align: right;
  right: 0;
  top: 100%;
  background-color: #ccc;
  width: 100%;
  border-bottom: 3px solid black;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-right: 1em;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav-link:before {
  content: ">";
  opacity: 0;
}

.nav-link:hover::before {
  opacity: 1;
}

.nav-link:hover {
  color: red;
}

/* label Check box */
.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  padding: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Check box */
.nav-toggle:checked ~ nav {
  /*   display: block; */
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle {
  display: none;
}

/* <----- Burger MENU -----> */
.burger,
.burger::before,
.burger::after {
  display: block;
  background-color: black;
  height: 5px;
  width: 3em;
  position: relative;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
}

.burger::before {
  bottom: 0.5rem;
}

.burger::after {
  top: 0.5rem;
}

/* <----- Responsiveness -----> */
@media screen and (min-width: 1200px) {
  .nav-toggle-label {
    display: none;
  }

  .nav-header {
    display: flex;
  }

  .logo {
    margin: 0 5rem;
  }

  nav {
    all: unset;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 5rem;
  }

  .nav-link {
    opacity: 1;
    font-size: clamp(0.5rem, 3vw, 1.2rem);
  }

  nav ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 2em;
    flex-basis: 100%;
    align-items: center;
  }

  nav li {
    margin: 0;
  }

  nav li:nth-of-type(1) {
    margin-left: auto;
  }

  nav li:nth-of-type(4) {
    margin-left: auto;
  }
}


.active {
  color: red;
}

.active:before {
  opacity: 1;
}
