<div class="nav-header">
  <span class="logo">Pokémon</span>
  <label for="nav-toggle" class="nav-toggle-label"><span class="burger"></span></label>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li><a routerLink="/landing" routerLinkActive="active" class="nav-link">Landing</a></li>
      <ng-container *ngIf="user">
        <li><a routerLink="/trainer" routerLinkActive="active" class="nav-link">Trainer</a></li>
        <li><a routerLink="/pokemon-catalogue" routerLinkActive="active" class="nav-link">Pokémon Catalogue</a></li>
      </ng-container>
      <li><a *ngIf="user" (click)="handleLogout()" class="nav-link">Logout</a></li>
    </ul>
  </nav>
</div>
