<main>
  <div class="container">
    <header class="container">
      <h1>Welcome, <span class="color-accent"> {{ user ? user.username : "-" }}</span></h1>
    </header>
    <ng-container *ngIf="pokemon.length > 0; then showPokemonCollection else showMissingMessage"></ng-container>

    <ng-template #showPokemonCollection>
      <h4>Your pokémon collection</h4>
      <h4>{{ pokemon.length }} pokémon caught, sweet</h4>
      <app-pokemon-list [pokemon]="pokemon"></app-pokemon-list>
    </ng-template>

    <ng-template #showMissingMessage>
      <div class="header-info">
        <h4>No pokémon here... =(</h4>
        <h4>Catch someone first!</h4>
        <a routerLink="/pokemon-catalogue" class="catch-btn">GO CATCH</a>
      </div>
    </ng-template>
  </div>
</main>
