<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">

  <!---------- Input-field and login-button ---------->
  <fieldset>
    <label for="username">Username</label>
    <input
      ngModel
      #username="ngModel"
      type="text"
      name="username"
      id="username"
      placeholder="Enter your name here..."
      required
      minlength="5"
      pattern="[a-zA-Z]*">
    <button
      type="submit"
      class="catch-btn"
      [disabled]="loading || loginForm.invalid">Login</button>
  </fieldset>

  <!---------- Validation ---------->
  <div *ngIf="username.errors && (username.dirty || username.touched)" class="validation-errors">
    <span *ngIf="username.errors['required']" class="validation-error">
      <span class="error-emoji">( ಠ_ಠ)</span> The field is required. Please type in the field.
    </span>
    <span *ngIf="username.errors['minlength']" class="validation-error">
      <span class="error-emoji">(◍ㅇᆽㅇ◍)</span> Username is too short. Minimum length is 5 symbols.
    </span>
    <span *ngIf="username.errors['pattern']" class="validation-error">
      <span class="error-emoji">(╯°□°）╯</span> Forbidden symbol. Please use only English letters with no spaces or special characters.
    </span>
  </div>

  <!---------- Loader ---------->
  <ng-container *ngIf="loading; then showLoader"></ng-container>

  <ng-template #showLoader>
    <div class="loader">
      <span class="loader-text">Loading...</span>
      <img src="assets/pokeball.jpeg" alt="pokeball loader" class="loader-img">
    </div>
  </ng-template>
</form>
