form {
  width: min(90%, 600px);
  margin: 0 auto;
  padding: 3rem;
  background-image: url("/assets/pikachu.jpeg");
  background-repeat: repeat-x;
  background-position: top;
  background-size: 70%;
}

fieldset {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin-top: 11rem;
  padding: 1rem;
  background-color: #ccc;
  border: 5px groove black;
}

form input {
  width: 100%;
  padding: 1em;
  border: 5px groove #ccc;
  font-size: 1rem;
}

form input:focus {
  border: 5px groove dodgerblue;
  outline: none;
}

.catch-btn {
  max-width: 100px;
  padding: 1em;
  border: 3px groove red;
  color: white;
  background-color: red;
  cursor: pointer;
  box-shadow: 4px 4px #999;
}

.catch-btn:hover {
  color: black;
}

.catch-btn:disabled {
  background-color: #969696;
  border: 3px groove #2a2a2a;
  color: black;
  cursor: default;
}

.catch-btn:active {
  box-shadow: 3px 3px #666;
  transform: translateY(1px);
}

.loader {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loader-img {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: bouncingBall;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bouncingBall {
  0% {
    top: 0;
  }
  50% {
    top: 16px;
  }
  75% {
    top: 1px;
  }
  100% {
    top: 0;
  }
}

.validation-errors {
  margin: 1rem 0;
  display: flex;
  flex-flow: column nowrap;

}

.validation-error {
  margin: 1rem 0;
  color: #969696;
  padding: 1rem;
  background-color: white;
  border: 5px groove #ccc;
}

.error-emoji {
  color: red;
}
