.catch-btn {
  padding: 1em;
  border: 3px groove red;
  color: white;
  background-color: red;
  cursor: pointer;
  box-shadow: 4px 4px #999;
}

.catch-btn:hover {
  color: black;
}

.catch-btn:active {
  box-shadow: 3px 3px #666;
  transform: translateY(1px);
}

.release-btn {
  background-color: #969696;
  border: 3px groove #2a2a2a;
  color: black;
}
