header {
  margin-top: 2rem;
}

.header-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

h1, h4 {
  padding: 1em;
  text-align: center;
}

.color-accent {
  color: red;
}
