<main>
  <header>
    <h1>Choose your <span class="color-accent">pokémon</span></h1>
  </header>
  <div class="container">
    <p *ngIf="loading">Pokémon loading...</p>
    <app-pokemon-list
      [pokemon]="pokemon"
    ></app-pokemon-list>
  </div>
</main>
