:root {
  --font-joti: "Joti One";
  --font-press: "Press Start 2P";
  --blue: #39569e;
  --yellow: #FFCB04;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-press), sans-serif, serif;
}

main {
  margin-top: 67px;
}

fieldset {
  border: none;
}
